<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration debug="false" scan="true" scanPeriod="5000">
    <import class="ch.qos.logback.classic.filter.LevelFilter"/>
    <import class="ch.qos.logback.core.status.NopStatusListener"/>
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
    <import class="ch.qos.logback.classic.AsyncAppender"/>
    <import class="ch.qos.logback.core.rolling.RollingFileAppender"/>
    <import class="ch.qos.logback.classic.filter.ThresholdFilter"/>
    <import class="ch.qos.logback.classic.PatternLayout"/>
    <import class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy"/>
    <import class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>
    <property name="log.level" value="debug"/>
    <property name="log.maxHistory" value="30"/>
    <property name="log.filePath" value="./logs"/>
    <property name="log.color" value="%boldGreen([%date{yyyy-MM-dd HH:mm:ss.SSS}]) %highlight([%-5level]) %boldYellow([%20.20thread]) %cyan(%-30.30logger{30}[%-5.5L{5}]) -> %gray(%msg%n)"/>
    <property name="log.pattern" value="[%date{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%20.20thread] %-30.30logger{30} [%-5.5L{5}] -> %msg%n"/>
    <statusListener class="NopStatusListener"/>

    <appender name="consoleAppender" class="ConsoleAppender">
        <layout class="PatternLayout">
            <pattern>${log.color}</pattern>
        </layout>
        <filter class="ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <appender name="infoAppender" class="RollingFileAppender">
        <file>${log.filePath}/info/info.log</file>
        <rollingPolicy class="TimeBasedRollingPolicy">
            <fileNamePattern>${log.filePath}/info/info.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>${log.maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder class="PatternLayoutEncoder">
            <pattern>${log.pattern}</pattern>
        </encoder>
        <triggeringPolicy class="SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <filter class="LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="errorAppender" class="RollingFileAppender">
        <file>${log.filePath}/error/error.log</file>
        <rollingPolicy class="TimeBasedRollingPolicy">
            <fileNamePattern>${log.filePath}/error/error.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>${log.maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder class="PatternLayoutEncoder">
            <pattern>${log.pattern}</pattern>
        </encoder>
        <triggeringPolicy class="SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <filter class="LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="debugAppender" class="RollingFileAppender">
        <file>${log.filePath}/debug/debug.log</file>
        <rollingPolicy class="TimeBasedRollingPolicy">
            <fileNamePattern>${log.filePath}/debug/debug.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>${log.maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder class="PatternLayoutEncoder">
            <pattern>${log.pattern}</pattern>
        </encoder>
        <triggeringPolicy class="SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <filter class="LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <root>
        <appender-ref ref="debugAppender"/>
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="infoAppender"/>
        <appender-ref ref="errorAppender"/>
    </root>
</configuration>